
.create-list-button {
  margin: 3rem auto;
}

.menu-icon {
  height: 3rem;
  width: 3rem;
  background-color: pink;
  position: absolute;
  top: 3rem;
  left: 10%;
}

.main-content {
  margin: 3rem auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  gap: 5%;
  justify-content: center;

  .todolist-container, 
  .throphies-container {
    height: 70vh;
  }

  .todolist-container {
    width: 60%;
    background-color: pink;
  }

  .throphies-container {
    width: auto;
  }
}

@media (max-width: 768px) {
  body {
      overflow-y: scroll;
  }

  .menu-icon {
    position: static;
    margin: 1.5rem auto;
  }

  .create-list-button {
    margin: 1.5rem auto;
    max-width: 80%;
  }

  .main-content {
    flex-direction: column-reverse;
    align-items: center;
    gap: 3rem;

    .todolist-container, 
    .throphies-container {
      width: 100%;
    }

    .throphies-container {
      height: auto;
    }

    .todolist-container {
      height: 30rem;
    }
  
  }
}