.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  .loading {
    display: inline-block;
    vertical-align: middle;
  }
  
  .loading span {
    display: inline-block;
    vertical-align: middle;
    width: 1em;
    height: 1em;
    margin: .19em;
    background: #007DB6;
    border-radius: .6em;
    animation: loading 1s infinite alternate;
  }
  
  .loading span:nth-of-type(2) {
    background: #008FB2;
    animation-delay: 0.2s;
  }
  .loading span:nth-of-type(3) {
    background: #009B9E;
    animation-delay: 0.4s;
  }
  .loading span:nth-of-type(4) {
    background: #00A77D;
    animation-delay: 0.6s;
  }
  .loading span:nth-of-type(5) {
    background: #00B247;
    animation-delay: 0.8s;
  }
  .loading span:nth-of-type(6) {
    background: #5AB027;
    animation-delay: 1.0s;
  }
  .loading span:nth-of-type(7) {
    background: #A0B61E;
    animation-delay: 1.2s;
  }
  
  @keyframes loading {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  