@import '../../../colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

$font-main: var(--font-press-start-2p);

.friends-page-container {
    height: 90%;

    .text-field {
        font-size: 2rem;
        text-align: center;
        width: 30%;
        height: 4rem;
        border: .125rem $dark-text-color solid;
        font-family: $font-main;
        margin: 2rem 0 0 50%;
        &::placeholder {
            font-family: $font-main;
            font-size: 1.25rem;
            color: $placeholder-text;
        }
    }

    .friends-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 1.7rem;
        height: 80%;
    }

    .friends-list-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-x: hidden;
    }

    .arrow-buttons {
        margin-right: 0.625rem;
    }

    .friends-list {
        display: flex;
        overflow: hidden;

        .friend-avatar {
            margin-right: 0.625rem;
        }

        .delete-btn, .add-btn {
            width: 15rem;
            font-size: 1rem;
            margin: auto 1rem;
        }

        .add-btn {
            background-color: $button-hover;
        }
        .add-btn:after {
            background-color: $button-background;
        }
    }

    .avatar-register {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 30rem;

        .create-avatar {
            height: 100%;

            .window {
                height: 100%;
                position: relative;

                .avatar-img {
                    height: 90%;
                }

                .body {
                    position: relative;
                    top: 0;
                    left: 0;
                }

                .hair {
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                .fit {
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }
    }

    @media (max-width: 768px) {
        body {
            overflow-y: auto;
        }

        .hello-user{
            margin-bottom: 4rem;
        }

        .text-field {
            width: 60%;
            margin: 2rem 0 0 20%;
        }

        .friends-list {
            flex-direction: column;

            .friend-avatar {
                display: none;
            }

            .friend-avatar:first-child {
                display: block;
            }
        }
    }

    @media (min-width: 769px) {
        .friends-container{
            flex-direction: row;
        }

        .friends-list-container{
            flex-direction: row;
        }
        .friends-list {
            flex-direction: row;
            
            .friend-avatar {
                display: block;
            }
        }
    }
}
