@import './colors.scss';

body {
  background-image: url(./ui/assets/other/background.png);
  overflow: hidden;
}

// let's save this part if we ever want to change the background back to eclipse
// .eclipse {
//   background-color: $eclipse-color;
//   border-radius: 50%;
//   width: 132rem;
//   height: 160rem;
//   position: fixed;
//   top: -220vh;
//   left: 13vw;
//   z-index: -999999;
//   filter: blur(1px);
// } 

.arrow {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  width: 4rem;
  transform: scaleX(-1);
}

.circle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 132.9375rem;
  height: 160.4375rem;
  transform: rotate(180deg);
  border-radius: 50%;
  background: $circle-color;
  filter: blur(2px);
  z-index: -1;
}

@media (max-width: 768px) {
  .circle {
    width: 100%;
    height: 80vh;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: rotate(180deg);
  }

  .eclipse {
    display: none;
  }
}