body {
  background-color: #20A39E;
  overflow: hidden;
}

.circle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 132.9375rem;
  height: 160.4375rem;
  transform: rotate(180deg);
  border-radius: 50%;
  background: rgba(32, 177, 171, 0.40);
  filter: blur(2px);
  z-index: -1;
}