$background-color: #20a39e;
$eclipse-color: #20b1ac;
$text-color: #ffffff;
$dark-text-color: #000000;
$circle-color: #20b1ab;

// Button colors
$button-background: #ef5b5b;
$button-border: #111;
$button-text: #ffffff;
$button-hover: #ffba49;
$button-hover-border: #111;
$button-active: #d75252;

// Landing page colors
$button-start: #83cac8;
$img: pink; //Temporary div color

// Trophies container
$darkbrown: #281C18;
$middlebrown: #312523;
$lightbrown: #3E2F2B;

// User page colors
$statistic-background: #d9d9d9;
$ribbonColor: #EF5B5B;
$ribbonEndColor: #D75151;
$ribbonFoldColor: #BF4848;

// About page colors
$nav-dot: #197773;
$nav-dot-hover: #12524e;

// Login/Register page colors
$placeholder-text: #8e8e8e;
$popup-register: #FFBA49;
$overlay-color: #000000;
$hover-text: #146461;

// Other
$semi-transparent-background:  #0000007c;
$overlay-color: #00000086;
$hover-text: #146461;