$background-color: #20a39e;
$text-color: #ffffff;
$dark-text-color: #000000;
$circle-color: #20b1ab;

// Button colors
$button-background: #ef5b5b;
$button-border: #111;
$button-text: #ffffff;
$button-hover: #ffba49;
$button-hover-border: #111;
$button-active: #d75252;

// Langing page colors
$button-start: #83cac8;
$img: pink; //Temporary div color

// Trophies container
$darkbrown: #281C18;
$middlebrown: #312523;
$lightbrown: #3E2F2B;

// User page colors
$statistic-background: #d9d9d9;
$ribbonColor: #EF5B5B;
$ribbonEndColor: #D75151;
$ribbonFoldColor: #BF4848;
