$background-color: #20A39E;
$text-color: #ffffff;
$circle-color: #20B1AB;

// Button colors
$button-background: #EF5B5B;
$button-border: #111;
$button-text: #ffffff;
$button-hover: #FFBA49;
$button-hover-border: #111;
$button-active: #D75252;

// Langing page colors
$button-start: #83CAC8;
$img: pink; //Temporary div color
