$ribbonColor: #875e46;
$ribbonEndColor: #724b34;
$ribbonFoldColor: #5d3922;
@import '../../colors.scss';

.hello-user {
  position: relative;
  margin: 1rem auto 1rem;
  padding: 0 0.4rem;
  text-align: center;
  background-color: $ribbonColor;
  width: 30%;
  .hello-text {
    padding: 1rem 0;
  }

  &::before,
  &::after {
    content: '';
    width: 5rem;
    height: 100%;
    background-color: $ribbonEndColor;
    position: absolute;
    z-index: -1;
    top: 1.25rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 25% 50%);
    background-image: linear-gradient(
      45deg,
      transparent 50%,
      $ribbonFoldColor 50%
    );
    background-size: 1.25rem 1.25rem;
    background-repeat: no-repeat;
    background-position: bottom right;
  }

  &::before {
    left: -3.75rem;
  }

  &::after {
    right: -3.75rem;
    transform: scaleX(-1);
  }
}

.statistic-update-container {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
  .statistic {
    background-color: $statistic-background;
    width: 40%;
    height: 20rem;
  }

  .update {
    background-color: aqua;
    width: 40%;
    height: 20rem;
  }
}
