@import '../../colors.scss';

.throphies-container {
  position: relative;
  .trophies-background {
    height: 100%;
  }

  .trophies-background-mobile {
    display: none;
  }

  .trophies-shelfes {
    padding: 2.5%;
    height: 80%;
    width: 80%;
    position: absolute;
    top: 5%;
    left: 8%;
    display: grid;
    grid-template-rows: repeat(5, 16%);
    gap: 5.5%;
    grid-template-columns: repeat(4, 1fr);
  }

  .monsterElement {
    height: 100%;
    width: auto;
    position: relative;
    display: flex;

    .monsterImg {
      max-height: 100%;
    }

    .monsterCounter {
      position: absolute;
      background-color: $button-hover;
      color: black;
      padding: 2px;
      margin: 0;
      top: 0;
      right: 0;
      border: 1px black solid;
    }
  }
}

@media (max-width: 768px) {
  .throphies-container {  
    .trophies-background {
      display: none;
    }

    .trophies-background-mobile {
      display: block;
      width: 100%;
    }

    .trophies-shelfes {
      grid-template-rows: repeat(1, 1fr);
      padding: 0;
      height: 53%;
      width: 84%;
      top: 18%;
      left: 8%;

      .monsterElement {
        height: auto;
        width: 90%;

        .monsterImg {
          max-width: 100%;
          margin-bottom: 0;
          margin-top: auto;
        }
      }

      .monsterCounter {
        top: 5px;
        right: 5px;
      }
    }
  }
}

