@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --font-press-start-2p: "Press Start 2P";
}

@import '../../colors.scss';

p {
    font-family: var(--font-press-start-2p);
    color: $text-color;
    line-height: 1.3;
}

.x-small {
    font-size: 0.5rem;
}

.small {
    font-size: 1.25rem;
}

.medium {
    font-size: 1.5rem;
}

.large {
    font-size: 1.625rem;
}

.x-large {
    font-size: 1.75rem;
}